body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding-bottom: 60px;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #005c99;
  color: white;
  text-align: center;
  padding: 20px;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

main {
  padding: 20px;
}

section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  padding-left: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #005c99;
  color: white;
  text-align: center;
  padding: 10px;
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #005c99;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #003d66;
}
